# Example environment variables
# Copy to .env and customize as needed

#Gihub
GITHUB_TOKEN=a


# Reddit 
REDDIT_CLIENT_ID=aa
REDDIT_CLIENT_SECRET=a
REDDIT_USER_AGENT=a

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=devpulse
DB_USER=postgres
DB_PASSWORD=password