# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
logs/*.log

# Data
data/archive/
data/raw/*.json

# VS Code
.vscode/

# macOS
.DS_Store

# Generated data
data/raw/**
data/processed/**
data/archive/**

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/archive/.gitkeep